* {
    box-sizing: border-box;
}

.background-one {
    background-image: url('../img/milky-way-2675322_1920.jpg');
}

#sct-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    .card {
        border: 1px solid #000;
        width: 30%;
        border-radius: 10px;
        background-color: #000;
        opacity: 0.9;
        color: #fff;
        .pics {
            height: 240px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            img {
                width: 240px;
            }
        }
        .title-name {
            text-align: center;
            border-radius: 10px;
        }
        .text {
            padding: 0 40px 0 40px;
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #sct-cards {
        height: 100vh;
        .card {
            border: 1px solid #000;
            width: 90%;
            border-radius: 10px;
            background-color: #000;
            opacity: 0.9;
            color: #fff;
            .pics {
                height: 240px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                img {
                    width: 240px;
                }
            }
            .title-name {
                text-align: center;
                border-radius: 10px;
            }
            .text {
                padding: 0 40px 0 40px;
                font-size: 18px;
            }
        }
    }
}